*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
  }

  h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  :root{
    --primary:#18A57C;
    --poppins: 'Poppins', sans-serif;
  }

  @font-face{
    font-family: "FractulBold";
    src: local("FractulBold"),url("../assets/fonts/fractul/Fractul-Bold.ttf") format('truetype')
  }

  @font-face{
    font-family: "FractulSemibold";
    src: local("FractulSemibold"),url("../assets/fonts/fractul/Fractul-SemiBold.ttf") format('truetype')
  }

  @font-face{
    font-family: "FractulRegular";
    src: local("FractulRegular"),url("../assets/fonts/fractul/Fractul-Regular.ttf") format('truetype')
  }

  body{
    font-family: 'FractulRegular'
  }

  @import './components/mixins.scss';
  @import './components/navbar.scss';
  @import './components/heroSection.scss';
  @import './components/dappHeader.scss';
  @import './components/aboutSection.scss';
  @import './components/protocolFeeSection.scss';
  @import './components/protocolTokennomics.scss';
  @import './components/footer.scss';
  @import './pages/dappIndex.scss';
  @import './pages/dappDashboard.scss';
  @import './pages/dappEarn.scss';