.earn{

    &_body{

        &_top{
            display: flex;
            // border: 2px solid white;
            padding: 2rem;
            position: relative;

            @include respond(mini-desktop){
                display: block;
            }

            &_left{
                width: 55%;
                padding: 1rem;
                // border: 1px solid red;

                @include respond(mini-desktop){
                    width: 100%;
                }

                & h4{
                    color: #D1D1D1;
                    font-size: 4rem;
                    font-weight: 600;
                    line-height: 3.6rem;

                    @include respond(mini-desktop){
                        text-align: center;
                    }

                    @include respond(tab-land){
                        font-size: 2rem;
                        line-height: 2.3rem;
                    }

                }
    
                & h5{
                    margin-top: 1.5rem;
                    color: #FFFFFF;
                    font-size: 1.3rem;
                    width: 87%;
                    font-family: var(--poppins);

                    @include respond(mini-desktop){
                        text-align: center;
                        width: 100%;
                    }

                    @include respond(tab-land){
                        font-size: 1.1rem;
                    }

                }

                & button{
                    color: #18A57C;
                    border: 1px solid #18A57C;
                    background: #083A2B;
                    padding: .7rem 1.3rem;
                    border-radius: 5px;
                    margin-top: 3rem;

                    @include respond(mini-desktop){
                        display: block;
                        margin: 2rem auto;
                    }

                }

            }

            &_right{
                width: 43rem;
                position: absolute;
                right: 0;

                @include respond(mini-desktop){
                    position: relative;
                    width: 30rem;
                    display: block;
                    margin: 0 auto;
                }

                @include respond(tab-land){
                    width: 20rem;
                }

            }

        }

        &_mid{
            margin-top: 3rem;
            padding: 2rem;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @include respond(mini-desktop){
                justify-content: space-evenly;
            }

            @include respond(tab-land){
                padding: 1rem;
            }

            &_div{
                width: 32%;
                border: 1px solid #083A2B;
                background-color: #02110D;
                padding: 1.3rem;
                border-radius: 6px;

                @include respond(mini-desktop){
                    width: 40%;
                    margin-top: 2rem;
                }

                @include respond(tab-land){
                    width: 100%;
                }

                &_top{
                    background-color: rgba(20, 255, 0, 0.20);
                    width: 2.5rem;
                    height: 2.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                & h4{
                    font-size: 1.8rem;
                    color: #DCF2EB;
                    margin-top: 1.3rem;
                    font-family: var(--poppins);
                }

                & p{
                    color: #D1D1D1;
                    margin-top: .4rem;
                    font-family: var(--poppins);
                    font-size: .8rem;
                }

            }

        }

        &_foot{
            padding: 2rem;
            border-radius: 14px;
            background: linear-gradient(180deg, #000E0A 0%, rgba(0, 0, 0, 0.00) 100%);
            display: flex;
            justify-content: space-between;
            // border: 1px solid red;
            flex-wrap: wrap;

            @include respond(mini-desktop){
                justify-content: space-around;
            }
        }

    }

}


.featured_tag{
    border-radius: 4px;
    width: fit-content;
    padding: .5rem;
    font-size: .8rem;
    font-family: var(--poppins);
    background: linear-gradient(90deg, #0B8500 -3.33%, #004E37 100%);
    color: white;
    margin-bottom: 1rem;
}

.search_div{
    display: flex;
    margin-bottom:1rem ;
    justify-content: space-between;

    & input{
        display: block;
        width: 70%;
        border: 1px solid #0B8500;
        background-color: #000E0A;
        padding: 1rem;
        border-radius: 5px;
        width: 85%;
        color: white;

        @include respond(mini-desktop){
            width: 80%;
            padding: .8rem;
            font-size: .9rem;
        }

        @include respond(tab-port){
            width: 78%;
            padding: .6rem;
            font-size: .8rem;
        }


    }

    & button{
        border: none;
        background-color:#0B8500;
        padding: 1rem;
        border-radius: 5px;
        color: white;
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;

        & h4{

            @include respond(tab-port){
                display: none;
            }

        }

    }

}

.search_ic{
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;

    @include respond(tab-port){
        margin-right: 0;
    }

}


.side_div_nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 27%;
    background-color: #000705;
    height: 100vh;
    padding: 2rem;
    overflow-y: auto;

    @include respond(mini-desktop){
        width: 35%;
    }

    @include respond(tab-land){
        width: 49%;
    }

    @include respond(tab-port){
        width: 100%;
    }

    &_back{
        width: 1.4rem;
        height: 1.4rem;
        cursor: pointer;
    }

    &_title{
        margin-top: 2rem;
        display: flex;
        align-items: center;

        &_left{
            width: 2.7rem;
            height: 2.7rem;
            margin-right: 1rem;
        }

        &_right{

            & h4{
                color: #6f7373;
                font-weight: 500;
            }

            & h5{
                color: white;
                font-weight: 500;
                font-size: 1rem;
            }

        }

    }

    &_tabs{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;

        &_div{
            // border: 1px solid rgba(211, 211, 211, 0.448);
            width: 45%;
            // height: 2.5rem;
            border-radius: 4px;
            padding: .5rem;

            & h5{
                color: rgba(211, 211, 211, 0.448);
                font-size: .8rem;
                font-weight: 500;
            }

            & h6{
                color: white;
                font-size: .9rem;
                font-weight: 500;
            }

        }

    }

    &_more{
        margin-top: 1.4rem;
        color: white;
        border-bottom: 1px solid white;
    }

    &_token_info{
        // border: 1px solid red;
        margin-top: 1rem;
        display: flex;
        align-items: center;

        &_w{
            width: 2rem;
            height: 2rem;
            background-color: white;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &_right{
            width: fit-content;
            // border: 1px solid red;
            display: flex;
            align-items: center;
            
            & h5{
                color: #6f7373;
                font-size: .8rem;
                margin-right: .5rem;
                margin-left: .5rem;
            }

            & h4{
                color: white;
                font-size: .8rem;
            }

        }

    }

}


.market_list{
    border: 1px solid #0B8500;
    background-color: #083A2B;
    border-radius: 5px;
    padding: 1rem;
    width: 30%;
    margin-bottom: 1rem;

    &:not(:first-child){
        margin-left: 1rem;

        @include respond(tab-port){
            margin-left: 0rem;
        }

    }

    @include respond(mini-desktop){
        width: 45%;
    }

    @include respond(tab-port){
        width:100%;
    }


    &_top{
        color: white;

        & h4{
            color: white;
            font-weight: 500;
        }

        & h6{
            color: #7c8383;
            font-weight: 500;
        }

    }

    &_main{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        & h4{
            font-size: .9rem;
            color: white;
        }

        & h6{
            font-size: .8rem;
            color: rgb(254, 244, 225);
        }

    }

    & button{
        display: block;
        width: 100%;
        margin-top: 1rem;
        background-color: white;
        border: none;
        padding: .5rem;
        font-weight: 500;
        cursor: pointer;
    }

}