.dappDashboard{

    &_body{
        padding: 2rem;
        padding-top: 3rem;

        @include respond(mobile-land){
            padding: 1rem;
            padding-top: 4rem;
        }

    }

    &_colored{
        width: fit-content;
        color: white;
        padding: .5rem 1rem;
        border-radius: 6px;
        background: linear-gradient(90deg, #0B8500 -3.33%, #004E37 100%);
    }

    &_nowallet{
        // width: 90%;
        margin: 5rem auto;
        background-color: #083a2b67;
        padding: 4rem;
        border: 1px solid #083A2B;
        border-radius: 10px;

        @include respond(mobile-land){
            padding: 1.5rem;
        }   

        & h4{
            text-align: center;
            font-family: var(--poppins);
            color: #B7E3D6;
            font-size: 1.5rem;

            @include respond(mobile-land){
                font-size: 1.3rem;
            }   
    

        }

        & h6{
            text-align: center;
            margin-top: .6rem;
            font-size: .8rem;
            color: #BABABA;
        }

        & button{
            cursor: pointer;
            display: block;
            margin: 1rem auto;
            border: none;
            background-color: transparent;
            border: 1px solid #169570;
            padding: .5rem 1rem ;
            border-radius: 10px;
            color: white;
            font-family: var(--poppins);
            font-weight: 600;
        }

    }

    &_empty{
        // width: 90%;
        margin: 1rem auto;
        background-color: #083a2b67;
        padding: 4rem;
        border: 1px solid #083A2B;
        border-radius: 10px;

        @include respond(mobile-land){
            padding: 1.5rem;
        }   

        & h4{
            text-align: center;
            font-family: var(--poppins);
            color: #B7E3D6;
            font-size: 1.5rem;

            @include respond(mobile-land){
                font-size: 1.3rem;
            }   
    

        }

        & h6{
            text-align: center;
            margin-top: .6rem;
            font-size: .8rem;
            color: #BABABA;
        }

        & button{
            cursor: pointer;
            display: block;
            margin: 1rem auto;
            border: none;
            background-color: transparent;
            border: 1px solid #169570;
            padding: .5rem 1rem ;
            border-radius: 10px;
            color: white;
            font-family: var(--poppins);
            font-weight: 600;
        }

    }

    &_table{
        margin: 1rem auto;
        background-color: #083a2b67;
        // padding: 4rem;
        // border: 1px solid #083A2B;
        border: 3px solid red;
        overflow: auto;
        border-radius: 10px;
        width: 40rem;

        &_top{
            display: flex;
            border-bottom: 1px solid #083A2B;
            padding: .7rem 1.1rem;
            overflow: auto;
            justify-content: space-between;
            // width: 100%; 
            border: 1px solid red;

            & div{
                font-family: var(--poppins);
                color: #AEAEAE;

                @include respond(tab-port){
                    font-size: .8rem;
                }

            }

            &_value{
                width: 30rem;
                // border: 1px solid red;

                @include respond(mini-desktop){
                    // width: 50%;
                    // border: 1px solid green;
                }

            }

            &_rate{
                width: 13%;
                // border: 1px solid red;

                @include respond(mini-desktop){
                    width: 20%;
                    // border: 1px solid green;
                }

            }

            &_balance{
                width: 30%;
                // border: 1px solid red;

                @include respond(mini-desktop){
                    width: 20%;
                    // border: 1px solid green;
                }

            }

            &_btn{
                width: 25%;
                // border: 1px solid red;

                @include respond(mini-desktop){
                    width: 0%;
                    display:none;
                }

            }

            &_market{
                border: 1px solid red;
                width: 30rem;
            }

            &_asset{
                width: 30rem;
                border: 1px solid red;
            }

            &_loan{
                // border: 1px solid red;
                width: 9rem;
            }

            &_lltv{
                // border: 1px solid red;
                width: 7rem;
            }

            &_liquidity{
                // border: 1px solid red;
                width: 9rem;
            }

            &_rewards{
                // border: 1px solid red;
                width: 10rem;
            }

        }

        &_row{
            display: flex;
            border-bottom: 1px solid #083A2B;
            padding: .7rem 1.1rem;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            & div{
                font-family: var(--poppins);
                color: #AEAEAE;
            }

            &_value{
                width: 30%;
                display: flex;
                align-items: center;
                // border: 1px solid green;

                @include respond(mini-desktop){
                    width: 50%;
                    // border: 1px solid green;
                }

                & img{
                    width: 1.4rem;
                    object-fit: cover;
                    height: 1.4rem;

                    @include respond(tab-port){
                        width: 1rem;
                        height: 1rem;
                    }

                }

                & h5{
                    margin-left: 1rem;
                    font-family: var(--poppins);
                    font-weight: 500;
                    color: #f8f8f8;

                    @include respond(mini-desktop){
                        font-size: .9rem;
                        margin-left: .5rem;
                    }

                    @include respond(tab-port){
                        font-size: .7rem;
                    }

                }

                // border: 1px solid red;
            }

            &_rate{
                width: 13%;
                // border: 1px solid green;

                @include respond(mini-desktop){
                    width: 20%;
                }
                
                & h5{
                    font-family: var(--poppins);
                    font-weight: 500;
                    color: #f8f8f8;

                    @include respond(mini-desktop){
                        font-size: .9rem;
                        margin-left: .5rem;
                    }

                    @include respond(tab-port){
                        font-size: .7rem;
                    }

                }

            }

            &_balance{
                width: 30%;
                display: flex;
                align-items: center;
                // border: 1px solid red;

                @include respond(mini-desktop){
                    width: 20%;
                    // border: 1px solid green;
                }
                
                & img{
                    width: 1.4rem;
                    object-fit: cover;
                    height: 1.4rem;

                    @include respond(tab-port){
                        width: 1rem;
                        height: 1rem;
                        display: none;
                    }

                }

                & h5{
                    margin-left: 1rem;
                    font-family: var(--poppins);
                    font-weight: 500;
                    color: #f8f8f8;

                    @include respond(mini-desktop){
                        font-size: .9rem;
                        margin-left: .5rem;
                    }

                    @include respond(tab-port){
                        font-size: .7rem;
                        text-align: center;
                    }

                }

            }

            &_btn{
                width: 25%;
                // border: 1px solid red;
                display: flex;

                @include respond(mini-desktop){
                    width: 100%;
                    margin-top: 1rem;
                }

                & button{
                    display: block;
                    cursor: pointer;
                }

                &_supply{
                    background-color: #083A2B;
                    color: white;
                    font-family: var(--poppins);
                    border: none;
                    padding: .5rem 1rem;
                    border-radius: 10px;
                    font-weight: 600;
                    border: 1px solid #169570;

                    @include respond(tab-port){
                        font-weight: 500;
                        padding: .3rem .6rem;
                        border-radius: 5px;
                    }

                }

                &_with{
                    background-color: #2C2C2C;
                    color: white;
                    font-family: var(--poppins);
                    border: none;
                    padding: .5rem 1rem;
                    border-radius: 10px;
                    margin-left: 1rem;
                    font-weight: 600;

                    @include respond(tab-port){
                        font-weight: 500;
                        padding: .3rem .6rem;
                        border-radius: 5px;
                    }

                }


            }

            &_market{
                display: flex;
                align-items: center;
                width: 12rem;

                // border: 1px solid red;

                // @include respond(mini-desktop){
                //     width: 20rem;
                // }


                & img{
                    width: 1.4rem;
                    height: 1.4rem;

                    &:not(:first-child){
                        margin-left: -.6rem;
                    }

                }

                & h5{
                    margin-left: 1rem;
                    font-family: var(--poppins);
                    font-weight: 500;
                    color: #f8f8f8;
                }

            }

            &_asset{
                display: flex;
                align-items: center;
                width: 9rem;
                // border: 1px solid red;

                & img{
                    width: 1.4rem;
                    height: 1.4rem;
                    margin-right: .5rem;
                }
                
                & h5{
                    // margin-left: .5rem;
                    font-family: var(--poppins);
                    font-weight: 500;
                    color: #f8f8f8;
                }

            }

            &_loan{
                display: flex;
                align-items: center;
                width: 9rem;
                // border: 1px solid red;

                & img{
                    width: 1.4rem;
                    height: 1.4rem;
                    margin-right: .5rem;
                }

                & h5{
                    font-family: var(--poppins);
                    font-weight: 500;
                    color: #f8f8f8;
                }
            }

            &_lltv{
                display: flex;
                align-items: center;
                width: 7rem;

                & h5{
                    font-family: var(--poppins);
                    font-weight: 500;
                    color: #f8f8f8;
                }
            }

            &_liquidity{
                display: flex;
                align-items: center;
                width: 9rem;

                & h5{
                    font-family: var(--poppins);
                    font-weight: 500;
                    color: #f8f8f8;
                }
            }

            &_rewards{
                display: flex;
                align-items: center;
                width: 10rem;

                & h5{
                    font-family: var(--poppins);
                    font-weight: 500;
                    color: #f8f8f8;
                }
            }

        }

        &_btm{
            display: flex;
            padding: 1.2rem;
        }

    }

}


.dappTable_top, .dappTable_row{

    @include respond(mini-desktop){
        width:1024px ;
    }

}

.scroll_toLeft{
    display: none;

    @include respond(mini-desktop){
        display: block;
        color: #AEAEAE;
        margin-top: 1rem;
        font-family: var(--poppins);
    }

}


.dashTable{
    border: 1px solid #083A2B;
    margin-top: 3rem;
    height: 10rem;
    overflow: auto;

    &_top{
        border-bottom: 1px solid #083A2B;
        // width: 100rem;
        display: flex;

        & div{
            display: inli;
        }

        &_1{
            padding: .5rem;
            color: #AEAEAE;
            font-family: var(--poppins);
            border-right: 1px solid #083A2B;
            width: 1300rem;
            
        }

    }

}