.navBarContainer{
    width: 100%;
    // height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000E0A;
    position: sticky;
    top: 0;
    z-index: 20;

    & p{
        color: white;
        // font-family: FractulBold;
    }

    &_navBar{
        width: 1220px;
        margin: 0 auto;
        height: 66px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;

        &_logoContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;

            & img{
              width: 3.5rem;
              height: 3.5rem;

                // @include respond(mini-desktop){
                //     width: 3.5rem;
                //     height: 3.5rem;
                // }

            }

            & h1{
                font-size: 1.6rem;
                font-weight: 500;
            }

        }

        &_navLinksContainer{
            display: flex;
            justify-content: center;
            align-items: center;

            &_selectedNavLink{
              padding: .6rem .8rem;
              border-radius: 20px;
              border: 1px solid rgba(183, 227, 214, 0.40);
              background-color: rgba(180, 180, 180, 0.20);
            }

            & a{
              font-weight: 600;
              font-size: .8rem;
            }

            & a:not(:first-child){
              margin-left: 1.5rem;
            }

            @include respond(tab-land){
              display: none;
            }
            

        }

        &_navButton{
            padding: .6rem .8rem;
            border-radius: 8px;
            border: 1px solid #169570;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: .8rem;
            background-color: transparent;
            cursor: pointer;

            @include respond(tab-land){
              display: none;
            }

        }

        &_navToggle{
            display: none;

            & img{
                height: 28px;
                width: 28px;
            }

        }

    }

  }


  .toggleIcon{
    display: none;

    @include respond(tab-land){
      display: block;
      cursor: pointer;
      width: 2.4rem;
      height: 2.4rem;
      color: white;
    }


    @include respond(mobile-land){
      width: 1.5rem;
      height: 1.5rem;
    }

  }




.backDrop{
  display: none;

  @include respond(tab-land){
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    z-index: 22;
  }

}

.backdrop_2{
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #05090888;
    z-index: 22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_mid{
      width: 40%;
      // height: 40vh;
      padding: 1rem;
      background-color: #0d0d0df6;
      border: 1px solid #B8FEB2;
      border-radius: 5px;

      &_back{
        display: flex;
        color: white;
        align-items:center;
        cursor: pointer;

        & h3{
          margin-left: .5rem;
          font-size: .9rem;
          font-weight: 600;
        }

      }

      &_w{
        color: white;
        font-family: var(--poppins);
        text-align: right;
        font-size: .9rem;
        font-weight: 500;
        width: 90%;
        margin: 0 auto;
      }

      &_main{
        width: 90%;
        margin: 1rem auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_left{
          display: flex;
          align-items: center;

          & h4{
            color: #F8F8F8;
            font-family: var(--poppins);
            font-weight: 600;
            font-size: .9rem;
            margin-right: .5rem;
          }

          & img{
            width: 1.4rem;
            height: 1.4rem;
            object-fit: cover;
          }

        }

        &_right{
          background-color: #272727;
          width: 50%;
          // height: 20px;
          padding: .3rem .5rem;
          display: flex;
          justify-content: space-between;
          border-radius: 5px;

          & input{
            width: 40%;
            font-size: .9rem;
            background-color: transparent;
            border: none;
            font-family: var(--poppins);
            font-weight: 600;
            
            &::placeholder{
              color: white;
            }

          }

          & button{
            border: none;
            background-color: #B8FEB2;
            color: #515151;
            padding: .3rem .6rem;
            cursor: pointer;
            border-radius: 3px;
            font-weight: 500;
            font-family: var(--poppins);
          }

        }

        & h2{
          font-size: .9rem;
          font-weight: 600;
          color: white;
          font-family: var(--poppins);
        }

        &_nA{
          background-color: #F8F8F8;
          color: #BABABA;
          padding: .5rem .8rem;
          width: 40%;
          font-family: var(--poppins);
          border-radius: 3px;
          font-size: .9rem;
        }

      }

      &_range{
        display: flex;
        align-items: center;
        justify-content: space-between;

        & h4{
          color: white;
          font-family: var(--poppins);
          font-weight: 600;
          font-size: .9rem;
        }

        & div{
          background-color: #B8FEB2;
          padding: .4rem .6rem;
          border-radius: 4px;
          color: #515151;
          font-weight: 600;
          font-family: var(--poppins);
        }

        & input{
          width: 60%;
        }

      }

    }

    &_down{
      margin-top: 1.5rem;

      & button{
        padding: .5rem 1rem;
        border: none;
        font-size: 1rem;
        border-radius: 4px;
        font-family: var(--poppins);
        border: 1px solid #18A57C;
        cursor: pointer;

        &:first-child{
          margin-right: 1rem;
          background-color: #515151;
          color: #8B8B8B;
        }

        &:last-child{
          background-color: #083A2B;
          color: white;
        }

      }

    }

}

.slider{
  display: none;

  @include respond(tab-land){
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: #000E0A;
    z-index: 24;
    padding: 2rem;
    padding-top: 5rem;
  }

  & a{
    color: white;
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    
    &:not(:first-child){
      margin-top: 3rem;
    }

    @include respond(mobile-land){
      font-size: .9rem;
    }

  }

}







  .navToggle{
    display: none;
  }
  .navToggle img{
    height: 28px;
    width: 28px;
  }




  .main_backdrop{
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #050908eb;
    z-index: 22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .create_market_drop{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 40%;
    // height: 30vh;
    z-index: 30;
    // background-color: red;

    &_top{
      color: #DDFFDA;
      font-family: var(--poppins);
      text-align: center;
      font-weight: 500;
      font-size: 1rem;
    }

    &_box{
      border: 1px solid #B8FEB2;
      // height: 30vh;
      margin-top: 1rem;
      border-radius:7px ;
      background-color: #0d0d0dd7;
      padding: 1.5rem;

      &_div{

        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:first-child){
          margin-top: 2rem;
        }

        & h5{
          color: white;
          font-size: .9rem;
          font-weight: 500;
        }

        & input{
          background-color: #272727;
          border: none;
          font-size: .9rem;
          padding: .5rem 1rem;
          border-radius: 4px;
          color: #B7E3D6;

          &:focus{
            outline: none;
          }

        }

      }

      &_btn{
        margin: 30px auto;
        padding: .8rem;
        border-radius: 10px;
        border: 1px solid #169570;
        display: flex;
        justify-content: center;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        cursor: pointer;
        align-items: center;
        background-color: #083A2B;
  
        @include respond(tab-port){
          font-size: .9rem;
          padding: .8rem;
        }
      }

    }

  }