*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.appWrapper{
  width: 100%;
  /* background-color: linear-gradient(180deg, #001C14 0%, #080808 100%); */
}
p{
  color: white;
}

/* NavBar Style */
.navBarContainer{
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000E0A;
}
.navBar{
  width: 1220px;
  margin: 0 auto;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.logoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.navLinksContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 15px; */
}
.selectedNavLink{
  padding: 10px 16px;
  /* border: 1px solid; */
  border-radius: 20px;
  border: 1px solid rgba(183, 227, 214, 0.40);
  background-color: rgba(180, 180, 180, 0.20);
}
.navLink{
  padding: 10px 16px;
}
.navButton{
  padding: 14px 20px;
  border-radius: 10px;
  border: 1px solid #169570;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}
.navToggle{
  display: none;
}
.navToggle img{
  height: 28px;
  width: 28px;
}
@media (max-width:700px){
  .navLinksContainer{
    display: none;
  }
  .navButton{
    display: none;
  }
  .navToggle{
    display: flex;
    /* margin-right: 24px; */
    height: 24px;
    width: 24px;
    cursor: pointer;
  }
}






/* Hero Section Styles */
.heroContainer{
  /* background-color: #03251c; */
  background-image: url("./assets/herobg.png");
  height: 750px;
}
.heroSection{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
}
.heroContainer h1{
  font-size: 150px;
  color: white;
  margin-top: 60px;
  line-height: 120px;
}
.heroImg{
  position: absolute;
  right: 0px;
  padding: 0px 40px;    
}
.heroText{
  font-size: 28px;
  max-width: 500px;
  margin-top: 20px;
}
@media (max-width:1115px){
  .heroContainer h1{
    font-size: 100px;
  }
  .heroImg{
    padding: 0px;
  }
  .heroText{
    font-size: 18px;
    max-width: 350px;
  }
}
.heroButton{
  margin-top: 40px;
  padding: 14px 20px;
  border-radius: 10px;
  border: 1px solid #169570;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 100px;
}
@media (max-width:900px){
  .heroSection{
    align-items: center;
  }
  .heroImg{
    position: static;
    height: 300px;
  }
  .heroImg img{
    height: 300px;
  }
  .heroContainer{
    height: auto;
    padding-bottom: 70px;
  }
  .heroButton{
    align-self: flex-start;
  }
  .heroText{
    align-self: flex-start;
    /* font-size: 24px; */
  }
  .heroSection{
    width: 400px;
  }
  .heroContainer h1{
    margin-top: 0;
  }
}
@media (max-width:400px){
  .heroSection{
    width: 80%;
  }
}




/* About Section */
.aboutContainer{
  /* background-color: #000E0A; */
  background-image: url("./assets/aboutbg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 750px;
}
.aboutHeader{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 24px;
}
.aboutHeader h1{
  color: white;
  font-size: 19px;
  /* margin-top: 30px; */
}
.whiteleft{
  background-color: white;
  height: 3px;
  flex: 1;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  margin-right: 30px;
}
.whiteright{
  background-color: white;
  height: 3px;
  flex: 1;
  border-bottom-right-radius: 100%;
  border-top-right-radius: 100%;
  margin-left: 30px;
}
.aboutBody{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 60px;
  align-items: center;
}
.aboutUs{
  display: flex;
  flex-direction: column;
  /* margin-top: 80px; */
}
.aboutUs h2{
  font-size: 40px;
  color: white;
}
.aboutText{
  margin-top: 24px;
  padding: 30px 5px;
  width: 465px;
  /* line-height: 100px; */
  letter-spacing: -0.32px;
  line-height: 120%;
  /* gap: 20px; */
  /* color: #169570; */
}
.aboutText p{
  color: #169570;
  font-size: 16px;
  /* margin-top: 20px; */
  padding: 20px 0px;
}
.aboutText p:first-child{
  padding-top: 0;
}
.aboutImage{
  overflow: hidden;
}
.aboutImage img{
  /* width: 500px; */
}
@media (max-width:900px){
  .aboutBody{
    flex-direction: column;
    width: 80%;
  }
  .aboutUs h2{
    font-size: 33px;
  }
  .aboutText{
    margin-top: 0;
    border: 1px solid white;
    border-radius: 14px;
    padding: 27px 11px;
    /* min-width: 323px; */
    width: auto;
  }
}






/* Protocol Fee Section Styles */
.pfContainer{
  /* background-color: #03251c; */
  background-image: url("./assets/bg3.png");
  background-size: cover;
  /* height: 750px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.pfHeader{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 24px;
}
.pfHeader h1{
  color: white;
  font-size: 19px;
  /* margin-top: 30px; */
}
.pfSubHeader{
  margin-top: 100px;
  margin-bottom: 60px;
}
.pfSubHeader h2{
  font-size: 40px;
  font-weight: normal;
  color: white;
}
.pfBoxes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pfBox{
  width: 392px;
  height: 414px;
  background-color: #02110D;
  border: 1px solid #083A2B;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 7px;
  margin-bottom: 60px;
}
.pfbContent{
  margin: 30px 20px;
}
.pfbIcon{
  background-color: rgba(20, 255, 0, 0.20);
  padding: 10px;
  width: 20px;
  border-radius: 5px;
}
.pfbContent h2{
  margin-top: 30px;
  font-size: 33px;
  color: white;
  font-weight: normal;
  margin-bottom: 10px;
}
.pfbContent p{
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 20px;
}
.pfbButton{
  margin: 20px;
  padding: 14px 20px;
  border-radius: 10px;
  border: 1px solid #18A57C;
  background-color: #083A2B;
  width: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* @media (max-width) */





/* Protocol Tokenomics */
.ptContainer{
  /* background-color: #000E0A; */
  background-image: url("./assets/bg4.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: auto;
  padding-bottom: 60px;
}
.ptHeader{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 24px;
}
.ptHeader h1{
  color: white;
  font-size: 19px;
  /* margin-top: 30px; */
}
.tokenImg{
  margin-top: 60px;
  padding-left: 60px;
}
.tokenImg img{
  width: 800px;
}
@media (max-width:900px){
  .tokenImg img{
    width: 650px;
  }
}
@media (max-width:800px){
  .tokenImg img{
    width: 500px;
  }
}
@media (max-width:600px){
  .tokenImg img{
    width: 350px;
  }
}




/* Footer Styles */
.footerContainer{
  height: 55px;
  background-color: #000E0A;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border: 1px solid white;
  border-radius: 100%;
  width: 26px;
  height: 26px;
}
.footerItem{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.rightFooter{
  display: flex;
  gap: 20px;
}
@media (max-width:700px){
  .footer{
    flex-direction: column;
    gap: 10px;
  }
  .footerContainer{
    height: auto;
    padding: 10px;
  }
}


